{% extends 'base.html.twig' %}

{% set title = app.current_route == 'app_projet_ajouter' ? 'Nouveau projet' : projet.titre %}

{% block title %}
	{{ title }}
{% endblock %}

{% block heading %}
	{{ title }}
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	<div>
		{{ form_row(form.titre, {label: 'Titre du projet'}) }}
	</div>
	<div>
		{{ form_row(form.membres, {label: 'Inviter des membres'}) }}
	</div>
	<br>
	<button class="button button-submit">Continuer</button>
	{{ form_end(form) }}
{% endblock %}
