{% extends "base.html.twig" %}

{% block title %}
	{{ projet.titre }}
{% endblock %}

{% block header %}
	<div class="flex-header">
		<h1>{{ projet.titre }}</h1>
		{% if projet.membres|length > 0 %}
			<div class="user-list">
				{% for membre in projet.membres %}
					<div class="avatar">{{ membre.prenom|first|upper }}{{ membre.nom|first|upper }}</div>
				{% endfor %}
			</div>
		{% endif %}
		<a class="button" href="{{ path('app_projet_modifier', {id: projet.id}) }}">Modifier</a>
	</div>
{% endblock %}

{% block body %}
	<div id="tasks-container">
		{% for statut, taches in tachesParStatut %}
			<div class="task-column">
				<h2>{{ statut }}</h2>
				<div class="tasks-list">
					{% for tache in taches %}
						<a class="task" href="{{ path('app_tache_modifier', {projet: projet.id, id: tache.id}) }}">
							<h3>{{ tache.titre }}</h3>
							<p>{{ tache.description }}</p>
							<div class="task-infos">
								{% if tache.deadline %}
									<div class="task-deadline">
										<i class="fa-regular fa-calendar"></i>
										{{ tache.deadline|date('d/m/Y') }}
									</div>
								{% endif %}
								{% if tache.membre %}
									<div class="mini-user">
										{{ tache.membre.prenom|first|upper }}{{ tache.membre.nom|first|upper }}
									</div>
								{% endif %}

							</div>
						</a>
					{% endfor %}
					<a href="{{ path('app_tache_ajouter', {projet: projet.id}) }}" class="task-add">
						+ Ajouter une tâche
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
